* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../imagens/Banner\ para\ loja\ online\ verde\ entrega\ full.png') no-repeat center center;
    background-size: 100% 100%;
}

/****************************************** Main *********************************************/
.container {
    display: flex;
    width: 50%;
    height: 55%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 1 4px 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    border-top: 2px solid rgba(255, 255, 255, 0.3);
    border-left: 2px solid rgba(255, 255, 255, 0.3);
}



.sn{
    background:url('../imagens/pexels-energepic-com-27411-313691.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.sn div {
    background-color: white;
    margin: 100px auto 0px auto;
    padding: 30px;
    height: 60%;
    width: 90%;
    font-size: 20px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}

.sn h1{
    font-size: 40px;
    padding: 0px 0px 0px 0px;
}

.login {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login img{
    margin: 0px auto 30px auto;
}

.login h1 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

input {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #091286;
    outline: none;
}

button {
    width: 100%;
    padding: 15px;
    background-color: #091286;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #404696;
}

.login p {
    text-align: center;
    margin: 100px 0px 0px 0px
}

a {
    color: #091286;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Estilos do Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 5px;
}

.modal-content #imgErro{
    display: flex;
    margin-left: 40px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 980px) {
    .container {
        flex-direction: column-reverse;
        height: 100%;
        width: 100%;
        padding: 10px;
        border-radius: 0px;
        overflow-y: auto;
    }

    .container img {
        width: 200px;
    }

    .sn {
        background: none;
         /* Opcional: esconder a imagem em telas menores */
    }

    .sn div {
        margin: 0px auto 0px auto;
        height: 100%;
    }

    .login {
        align-items: center; /* Vertically center */
    }

    .login p {
        margin: 20px 0px 0px 0px;
    }
      
}

@media (min-width: 980px) {
    .imagem2 {
        display: none;
    }
}